#!/usr/bin/env python
PACKAGE = "px4ctrl"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("horizon", int_t, 0, "MPC prediction horizon. Changing this rebuilds the solver.", 20, 5, 40)
gen.add("dt", double_t, 0, "MPC discretization time step.", 0.02, 0.005, 0.1)
gen.add("use_observer", bool_t, 0, "Use ESO disturbance estimate in the MPC model.", True)

gen.add("q_p_xy", double_t, 0, "XY position tracking weight.", 800.0, 0.0, 5000.0)
gen.add("q_p_z", double_t, 0, "Z position tracking weight.", 200.0, 0.0, 5000.0)
gen.add("q_p_e_xy", double_t, 0, "XY terminal position weight.", 1600.0, 0.0, 10000.0)
gen.add("q_p_e_z", double_t, 0, "Z terminal position weight.", 400.0, 0.0, 10000.0)
gen.add("q_v_xy", double_t, 0, "XY velocity tracking weight.", 320.0, 0.0, 5000.0)
gen.add("q_v_z", double_t, 0, "Z velocity tracking weight.", 120.0, 0.0, 5000.0)

gen.add("r_thrust", double_t, 0, "Thrust input weight.", 0.3, 0.0, 1000.0)
gen.add("r_roll_pitch", double_t, 0, "Roll/pitch input weight.", 240.0, 0.0, 5000.0)
gen.add("r_yaw", double_t, 0, "Yaw input weight.", 40.0, 0.0, 5000.0)

gen.add("thrust_min", double_t, 0, "Minimum normalized thrust constraint.", 0.2, 0.0, 1.0)
gen.add("thrust_max", double_t, 0, "Maximum normalized thrust constraint.", 0.8, 0.0, 1.0)
gen.add("roll_pitch_limit", double_t, 0, "Roll/pitch angle constraint in radians.", 0.25, 0.0, 1.2)
gen.add("thrust_rate", double_t, 0, "Normalized thrust rate constraint in 1/s.", 1.5, 0.0, 10.0)
gen.add("attitude_rate", double_t, 0, "Attitude angle rate constraint in rad/s.", 0.8, 0.0, 10.0)

exit(gen.generate(PACKAGE, "px4ctrl", "MPCController"))
